@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title details</h2>
<h3>Developer</h3>

<p>
  You can find me on <a href="https://github.com/HappyStinson" target="_blank">GitHub</a>!
</p>
<p>
  Here is my personal <a href="http://blog.rasmusnordling.se" target="_blank">blog</a> :)
</p>