@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Media Directory</h1>
    <p class="lead">This media directory stores movies.</p>
  <p>
    @Html.ActionLink("To the Movie List", "Index", "Movies", null, new { @class = "btn btn-default" })
  </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Application</h2>
      <p>
        @Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-default" })
      </p>
    </div>
    <div class="col-md-6">
        <h2>Developer</h2>
      <p>
        @Html.ActionLink("Contact me", "Contact", "Home", null, new { @class = "btn btn-default" })
      </p>
    </div>
</div>